.AboutPage-wrapper {
    margin-top: 100px;
    margin-bottom: 100px;
}
.AboutPage {
    display: inline-block;
    margin-left: 200px;
    margin-right: 200px;
    align-items: center;
    align-content: center;
}
.AboutPage ul {
    list-style-type: disc;
    font-family:'Courier New', Courier, monospace
}
.AboutPage h1 {
    text-decoration: underline;
}